*{
	margin : 0;
}
header{
	position: fixed;
	top: 0px;
	height: 70px;
	line-height: 70px;	
	width: 100%;	
	background: orange;
	text-align: center;
}

nav{
	position: fixed;
	top: 60px;
	height: 30px;
	line-height:30px;
	width: 100%;
	background: pink;
	font-size: 20px;
}

a{
	margin-left: 20px;
	text-decoration : none;
}

section{
	position: fixed;
	top: 120px;
	width: 100%;
	height: 100%;
	background: white;
	padding: 20px;
}

footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background: orange;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
}

table{
	margin: 0 auto;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

td{
	min-width: 100px;
}